.api-keys
    @extend .container

    .keys-table
        @extend .table
        @extend .table-striped
        @extend .table-bordered

        .key
            .remove
                @extend .btn
                @extend .btn-danger

    .add
        @extend .btn
        @extend .btn-success
        margin-top 10px
        margin-bottom 15px

