.container.simple.buy
    .estimate-step
        .buy-form
            label
                width 100px

            .controls
                margin-left 150px

    &.is-step-estimate
        .payment-step
            display none
        .estimate-step
            display block

    &.is-step-payment
        .estimate-step
            display none
        .payment-step
            display block
