<div class="container simple buy is-step-estimate">
    <div class="header-placeholder"></div>

    <h3>Kjøp Bitcoin</h3>

    <div class="row estimate-step">
        <div class="span6">
            <p style="padding-bottom: 15px;">Hvor mange Bitcoin ønsker du å kjøpe?</p>

            <form class="estimate-form form-horizontal well">
                <div class="control-group amount">
                    <label class="control-label" for="amount">Antall</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small" name="amount" id="amount" />
                            <span class="add-on">NOK</span>
                        </div>
                    </div>
                </div>

                <div class="control-group amount-converted">
                    <label class="control-label" for="amount-converted">ca.</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small disabled" disabled="disabled" name="amount-converted" id="amount-converted" value="" />
                            <span class="add-on">BTC</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls form-inline">
                        <button type="submit" class="continue-button btn btn-large btn-success">
                            Fortsett
                        </button>

                        <div style="display:inline-block;margin-left:25px;">
                            <a href="#simple">Tilbake</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row payment-step">
        <div class="span6">
            <p>Vi bruker vanlig, norsk bankoverføring.</p>

            <div class="well">
                <table>
                    <tr>
                        <td style="width:200px;">Beløp</td>
                        <td style="font-weight:bold;"><span class="amount"></span> NOK</td>
                    </tr>
                    <tr>
                        <td style="width:200px;"><%= i18n('depositnok.account') %></td>
                        <td style="font-weight:bold;">1503.36.59595</td>
                    </tr>
                    <tr>
                        <td><%= i18n('depositnok.messageToRecipient') %></td>
                        <td style="font-weight:bold;"><%= messageToRecipient %></td>
                    </tr>
                    <tr style="vertical-align:top;">
                        <td><%= i18n('depositnok.recipient') %></td>
                        <td>
                            Justcoin AS<br />
                            Tordenskioldsgate 3<br />
                            0160 Oslo
                        </td>
                    </tr>
                </table>
            </div>

            <div class="well">
                <h4>Justcoin er en børs</h4>
                Hvor mange Bitcoin du faktisk mottar kommer
                an på hva som er best pris på markedet når vi registrerer innbetalingen din.
            </div>

            <div>
                <a href="#simple">Tilbake</a>
            </div>
        </div>
    </div>
</div>
