.is-section-landing
    > hr, footer
        display none

    .top
        display none

    background-color #333

.landing
    background-color #333

    video
        background-color #333

    .cta
        position absolute
        text-align center

        .links
            margin-top 16px
            color white

            a
                color white
                font-size 16px
                font-weight bold
                text-decoration underline

        .tagline
            color #efefef
            font-size 48px
            font-weight bold
            font-family Helvetica, Arial, sans-serif
            line-height normal
            padding-bottom 24px
            text-shadow: 1px 1px 2px #333333
            filter dropshadow(color=#333333, offx=1, offy=1)

        .signup
            padding: 18px 24px
            font-size: 24px
            line-height: normal
            -webkit-border-radius: 8px * 1.5
            -moz-border-radius: 8px * 1.5
            border-radius: 8px * 1.5
            transition-property: top;
            transition-duration: 1500ms;

    .logo
        color #fafafa
        font-size 40px
        position absolute
        top 35px
        left 35px

    &.is-playing-bitcoin, &.landing.is-playing-ripple
        .logo, .links, .links a
            color #555
            text-shadow: 1px 1px 2px #333333
            filter dropshadow(color=#333333, offx=1, offy=1)

        .cta
            top 25px

        .tagline
            display none
