<tr class="item">
    <td><a href="#markets/<%= id %>"><%= id.substr(0,3) + ' / ' + id.substr(3) %></a></td>
    <td class="last"><%= numbers.format(last, { trim: false }) %></td>
    <td class="bid"><%= numbers.format(bid, { trim: false }) %></td>
    <td class="ask"><%= numbers.format(ask, { trim: false }) %></td>
    <td class="high"><%= numbers.format(high, { trim: false }) %></td>
    <td class="low"><%= numbers.format(low, { trim: false }) %></td>
    <td class="volume"><%= numbers.format(volume, { trim: false }) %></td>
</tr>
