<div class="container simple send">
    <div class="header-placeholder"></div>

    <h3><%- i18n('simple.send.heading') %></h3>

    <div class="balances row-fluid">
        <div class="span6">
            <p style="padding-bottom: 15px;"><%- i18n('simple.send.intro') %> <span class="balance"></span></p>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <form class="send-form form-horizontal well">
                <div class="control-group amount">
                    <label class="control-label" for="amount"><%- i18n('simple.send.amount') %></label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small" name="amount" id="amount" />
                            <span class="add-on">BTC</span>
                        </div>
                    </div>
                </div>

                <div class="control-group address">
                    <label class="control-label" for="address">
                        <%- i18n('simple.address.label') %>
                    </label>
                    <div class="controls">
                        <input type="text" class="" style="width:300px;" placeholder="<%- i18n('simple.address.placeholder') %>" name="address" id="address" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls form-inline">
                        <button type="submit" class="send-button btn btn-large btn-success">
                            <%- i18n('simple.send.send-button') %>
                        </button>

                        <div style="display:inline-block;margin-left:25px;">
                            <a href="#simple"><%- i18n('simple.send.back') %></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="footer-placeholder"></div>
</div>
