<div class="row withdraws">
    <h3><%= i18n('withdraws.heading') %></h3>

    <table class="table table-bordered table-striped span6">
        <thead>
            <th><%= i18n('withdraws.column headers.date') %></th>
            <th><%= i18n('withdraws.column headers.amount') %></th>
            <th><%= i18n('withdraws.column headers.destination') %></th>
            <th><%= i18n('withdraws.column headers.status') %></th>
            <th><!-- Actions --></th>
        </thead>
        <tbody class="items">
        </tbody>
    </table>
</div>
