<div class="deposit-nok container">
    <div class="row-fluid">
        <div class="span6">
            <h3><%= i18n('depositnok.heading') %></h3>

            <p><%= i18n('depositnok.intro') %></p>

            <div class="well">
                <table>
                    <tr style="vertical-align:top;">
                        <td><%= i18n('depositnok.recipient') %></td>
                        <td>
                            Justcoin AS<br />
                            Tordenskioldsgate 3<br />
                            0160 Oslo
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px;"><%= i18n('depositnok.account') %></td>
                        <td>1503.36.59595</td>
                    </tr>
                    <tr>
                        <td><%= i18n('depositnok.messageToRecipient') %></td>
                        <td><%= messageToRecipient %></td>
                    </tr>
                    <tr>
                        <td><%= i18n('depositnok.minimumAmount') %></td>
                        <td>100 NOK</td>
                    </tr>
                    <tr>
                        <td><%= i18n('depositnok.maximumAmount') %></td>
                        <td>8500 NOK</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
