#section > .withdraw .withdraw-email
    .transfer-form, .send-form, .send-confirmed
        border solid 1px #ccc
        background-color #fafafa
        padding 1.5em 6em 2em 2em
        max-width 40em

        .control-label
            max-width 5em

        .controls
            margin-left 6.5em

        .amount
            select
                max-width 6em
                width 100%
            input
                max-width 10em
                width 100%

        .email
            input
                width 100%
                max-width 16.3em

    .send-form, .send-confirmed
        display none

    .actions
        margin-top 2em

        .submit
            width 100%
            max-width 13.7em
