<div class="footer">
    <div class="row">
        <div class="span6">
            <div class="row links">
                <div class="span6">
                    <a href="#simple/activities">
                        <%- i18n('simple.footer.nav.activities') %>
                    </a>
                    <a href="#simple/terms">
                        <%- i18n('simple.footer.nav.terms') %>
                    </a>
                    <a id="Intercom" href="mailto:64463fba8faa8166444bfb3c00a5e40976bd622e@incoming.intercom.io" target="_blank">
                        <%- i18n('simple.footer.nav.support') %>
                    </a>
                </div>
            </div>

            <div class="row contact">
                <div class="span6">
                    Justcoin AS,
                    Tordenskioldsgate 3,
                    0160 Oslo,
                    Norway
                </div>
            </div>
        </div>
    </div>
</div>
