.is-section-simple-overview
.is-section-simple-send
.is-section-simple-sell
.is-section-simple-buy
.is-section-simple-terms
.is-section-simple-activities
    .navbar
        display none

    footer
        display none

    hr
        display none

.simple
    .header
        a:hover
            text-decoration inherit

        h1
            font-size: 50pt
            font-weight: normal
            color: #333

        color #ccc

        a
            font-size 0.75em

    .nav
        margin-top: 10px;

        li a
            font-size: 0.8em;
            line-height: 0.8em;

    &.overview
        .balances
            text-align: right

        .balance
            font-size: 4em;
            line-height: 80px;

        .balance-converted
            font-size: 20px;

    .footer
        margin-top 60px
        text-align center

        &:hover .contact, &:hover a
            color #333

        &, a
            color #eee
            line-height normal
            font-size 0.8em

        a
            text-decoration underline
            margin-right 10px

        .contact
            color #eee

@import "send/styles.styl"
@import "buy/styles.styl"
@import "sell/styles.styl"
