.is-section-simple-overview, .is-section-simple-send, .is-section-simple-buy
    .navbar
        display none

    footer
        display none

    hr
        display none

.simple
    .header
        h1
            font-size: 50pt
            font-weight: normal
            color: #333

    .nav
        margin-top: 10px;

        li a
            font-size: 0.8em;
            line-height: 0.8em;

    footer
        margin-top: 100px

        .links
            text-align: center
        a
            color: #00BBCC

    &.overview
        text-align center

        .balances
            text-align: right

        .balance
            font-size: 4em;
            line-height: 80px;

        .balance-converted
            font-size: 20px;

@import "send/styles.styl"
@import "buy/styles.styl"
