<tr class="item<%= +cancelled > 0 ? ' error' : +matched > 0 ? ' success' : '' %>">
    <td><%= id %></td>
    <td><%= market %></td>
    <td><%= type == 'bid' ? i18n('orders.buy') : i18n('orders.sell') %></td>
    <td><%= numbers.format(price) %></td>
    <td><%= numbers.format(amount) %></td>
    <td><%= numbers.format(matched) %></td>
    <td><%= numbers.format(remaining) %></td>
    <td><%= numbers.format(cancelled) %></td>
    <td>
        <% if (+remaining > 0) { %>
            <button class="cancel btn"><%= i18n('orders.cancel.label') %></button>
        <% } %>
    </td>
</tr>
