#section > .markets .market
    states order-mode-limit order-mode-market too-deep

    .order-modes
        font-size 1.15em

        .nav
            height 300px

@import "marketorder"
@import "limitorder"
@import "depth"
