<ul class="nav nav-tabs" id="admin-user-tabs">
    <li class="<%= tab == 'overview' ? 'active' : '' %>">
        <a href="#admin/users/<%= userId %>">User</a>
    </li>
    <li class="<%= tab == 'withdraw-requests' ? 'active' : '' %>">
        <a href="#admin/users/<%= userId %>/withdraw-requests">Withdraw requests</a>
    </li>
    <li class="<%= tab == 'activities' ? 'active' : '' %>">
        <a href="#admin/users/<%= userId %>/activity">Activity</a>
    </li>
    <li class="<%= tab == 'bank-accounts' ? 'active' : '' %>">
        <a href="#admin/users/<%= userId %>/bank-accounts">Bank accounts</a>
    </li>
</ul>
