body > .top
    .admin
        display none

    .balances, .orders, .activities, .dashboard
        display none

    .account-summary
        display block

    .logged-in
        display none

    .balances-wrap
        position relative

        .balances
            position absolute
            top 50px
            left -23px
            font-size 11px

            td
                border solid 1px #eee

            .currency
                width 40px

            .available
                text-align right
                width 95px

body.is-admin > .top
    .admin
        display block

body.is-logged-in > .top
    .not-logged-in
        display none

    .logged-in
        display block

    .balances, .orders, .activities, .dashboard
        display block

@keyframes flash
   0%
     background-color white
   50%
     background-color yellow
   100%
     background-color white

.flash
    -animation flash 500ms ease-out
