body.is-section-simple
    .navbar
        display none

.simple
    h1
        font-size: 50pt
        font-weight: normal
        color: #333

    footer
        margin-top: 100px

        .links
            text-align: center
        a
            color: #00BBCC

    max-width 700px
    text-align left
    margin-left: auto
    margin-right: auto

    .pagewrapper
        text-align center

    .nav
        margin-top: 10px;
        margin-right: 50px;

        li a
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 0.8em;
            line-height: 0.8em;

    .wrapper
        border: solid 1px #ccc;
        margin: 0 auto;
        margin-top: 30px;

    .balances
        text-align: right

    .balance
        font-size: 4em;
        line-height: 80px;

    .balance-converted
        font-size: 20px;
        line-height: 20px;

    .actions
        padding-top: 35px;
