<div class="row">
    <div class="span12">
        <ul class="order-types nav nav-pills">
            <li><a href="#" data-action="toggle-order-type" data-order-type="bid">
                <%- i18n('markets.market.limitorder.order types.bid') %>
            </a></li>
            <li><a href="#" data-action="toggle-order-type" data-order-type="ask">
                <%- i18n('markets.market.limitorder.order types.ask') %>
            </a></li>
        </ul>
    </div>
</div>

<div class="visible-order-type-bid">
    <div class="bid">
    </div>
</div>

<div class="visible-order-type-ask">
    <div class="ask">
    </div>
</div>
