#section > .create-voucher
    states created creating

    .form
        max-width 28em

        .control-label
            width 5em

        .controls
            margin-left 6.5em

            select, input, button
                width 100%
                max-width 10em

            input
                max-width 9em
