<div class="container">
    <div class="header-placeholder"></div>

    <h3><%- i18n('simple.sell.heading') %></h3>

    <div class="user-cannot-sell">
        <p>To withraw to a bank account, we need to make sure it's yours. We do this in three easy steps:</p>

        <table class="sell-checklist table table-bordered">
            <tr class="identify-user">
                <td class="status">
                    <span class="complete">&#x2713;</span>
                    <span class="incomplete">1</span>
                </td>
                <td>
                    <div class="action">
                        <a href="#identity?after=#simple/sell" class="btn btn-success identify">
                            Tell us about yourself
                        </a>
                    </div>
                    <div class="description">
                        Tell us about yourself
                    </div>
                </td>
            </tr>
            <tr class="add-bank-account">
                <td class="status">
                    <span class="complete">&#x2713;</span>
                    <span class="incomplete">2</span>
                </td>
                <td>
                    <div class="description">
                            Say where you want the funds
                    </div>
                    <div class="action">
                        <a href="#add-bank-account" class="btn btn-success add-bank-account">
                            Add bank account
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="verify-bank-account">
                <td class="status">
                    <span class="complete">&#x2713;</span>
                    <span class="incomplete">3</span>
                </td>
                <td>
                    <div class="description">
                            Prove that you own the bank account
                    </div>
                    <div class="wait">
                        We will send a small amount to your bank account to verify it.<br />
                        Please check back later.
                    </div>
                    <div class="verify">
                        <p>
                            We have sent a small amount to your bank account.<br />
                            Enter the 4 letter code from the message.
                        </p>

                        <form class="verify-form">
                            <div class="input-append">
                                <input type="text" name="code" class="code input-small" placeholder="Code" />
                                <div class="btn-group">
                                    <button type="submit" class="btn">Verify bank account</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="row sell-form-container">
        <div class="span6">
            <p style="padding-bottom: 15px;"><%- i18n('simple.sell.intro') %> <span class="balance"></span></p>

            <form class="sell-form form-horizontal well">
                <div class="control-group amount">
                    <label class="control-label" for="amount">
                        <%- i18n('simple.sell.amount.label') %>
                    </label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small" name="amount" id="amount" />
                            <span class="add-on">BTC</span>
                        </div>
                    </div>
                </div>

                <div class="control-group amount-converted">
                    <label class="control-label" for="amount-converted">
                        <%- i18n('simple.sell.amount-converted.label') %>
                    </label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small disabled" disabled="disabled" name="amount-converted" id="amount-converted" value="" />
                            <span class="add-on">NOK</span>
                        </div>
                    </div>
                </div>

                <div class="control-group bank-account">
                    <label class="control-label">
                        <%- i18n('simple.sell.to-account.label') %>
                    </label>
                    <div class="controls">
                        <label class="account-number control-label"></label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls form-inline">
                        <button type="submit" class="sell-button btn btn-large btn-success">
                            <%- i18n('simple.sell.sell-button') %>
                        </button>

                        <div style="display:inline-block;margin-left:25px;">
                            <a href="#simple"><%- i18n('simple.sell.back') %></a>
                        </div>
                    </div>
                </div>
            </form>

            <div class="well">
                <h4><%- i18n('simple.sell.payment.disclaimer.heading') %></h4>
                <%- i18n('simple.sell.payment.disclaimer.body') %>
            </div>
        </div>
    </div>

    <div class="footer-placeholder"></div>
</div>

<div class="modal hide add-bank-account-modal">
    <div class="modal-header">
        <h3>Add bank account</h3>
    </div>
    <div class="modal-body">
        <p class="alert alert-block">
            The account must be in your own name.
        </p>

        <form class="bank-account-form form-horizontal">
            <div class="control-group account-number">
                <label class="control-label">Account #</label>
                <div class="controls">
                    <input type="text" />
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="add-button btn btn-success">Add bank account</button>
                </div>
            </div>
        </form>
    </div>
</div>
