<div class="container simple sell">
    <div class="header-placeholder"></div>

    <h3><%- i18n('simple.sell.heading') %></h3>

    <div class="no-bank-accounts-error" style="max-width: 550px">
        <p><%- i18n('simple.sell.no-bank-accounts-error') %></p>

        <p>
            <a href="#simple/buy?any" class="btn btn-success"><%- i18n('simple.sell.register-bank-account') %></a>
        </p>
    </div>

    <div class="row sell-form-container">
        <div class="span6">
            <p style="padding-bottom: 15px;"><%- i18n('simple.sell.intro') %> <span class="balance"></span></p>

            <form class="sell-form form-horizontal well">
                <div class="control-group amount">
                    <label class="control-label" for="amount">
                        <%- i18n('simple.sell.amount.label') %>
                    </label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small" name="amount" id="amount" />
                            <span class="add-on">BTC</span>
                        </div>
                    </div>
                </div>

                <div class="control-group amount-converted">
                    <label class="control-label" for="amount-converted">
                        <%- i18n('simple.sell.amount-converted.label') %>
                    </label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="input-small disabled" disabled="disabled" name="amount-converted" id="amount-converted" value="" />
                            <span class="add-on">NOK</span>
                        </div>
                    </div>
                </div>

                <div class="control-group bank-accounts">
                    <label class="control-label">
                        <%- i18n('simple.sell.to-account.label') %>
                    </label>
                    <div class="controls">
                        <select></select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls form-inline">
                        <button type="submit" class="sell-button btn btn-large btn-success">
                            <%- i18n('simple.sell.sell-button') %>
                        </button>

                        <div style="display:inline-block;margin-left:25px;">
                            <a href="#simple"><%- i18n('simple.sell.back') %></a>
                        </div>
                    </div>
                </div>
            </form>

            <div class="well">
                <h4><%- i18n('simple.sell.payment.disclaimer.heading') %></h4>
                <%- i18n('simple.sell.payment.disclaimer.body') %>
            </div>
        </div>
    </div>

    <div class="footer-placeholder"></div>
</div>
