#section > .redeem-voucher
    states redeeming redeemed cancelled

    .form
        max-width 28em

        .control-label
            width 5em

        .controls
            margin-left 6.5em

            select, input, button
                width 100%
                max-width 11em

            input
                max-width 10em
