#section > .withdraw .withdraw-litecoin
    states entry review summary

    .entry, .review, .summary
        border solid 1px #ccc
        background-color #fafafa
        padding 1.5em 6em 2em 2em
        max-width 40em

    .control-label
        max-width 7.5em

    .controls
        margin-left 7.5em + 1.5em

    .amount
        input
            max-width 15em
            width 100%

    .address
        input
            font-size 0.85em
            width 100%
            max-width 20.75em

    .submit
        width 100%
        max-width 15em

    .summary
        .status
            states requested processing completed cancelled updating
